@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    font-size: 50px;
    font-weight: normal;
    padding-top: 40px;
    padding-bottom: 40px;
}

h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#win {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(96, 96, 252);
}

#lose {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
}



h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#scores{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-direction: row;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bothScores {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-direction: row;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#scoreMarkerP, #scoreMarkerC {
    padding-right: 40px;
    padding-left: 40px;

}

#buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
    padding-bottom: 30px;
}

button {
    width: 160px;
    height: 160px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 100px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 60px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: rgb(233, 233, 233);
    transform: scale(1.2);
    transition: 500ms;
    
}

button:active {
  background-color: gray;
}

#restart {
    font-size: 22px;
    width: 110px;
    height: 60px;
    border-radius: 50px;

}

#restartDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

